<!DOCTYPE html>
<html>
<head>
<title>device</title>


<style type="text/css">#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    /*margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */

}

#myTable th {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
    background-color: rgb(37, 46, 37);
    color: #ddd;
}

 #myTable td{
   text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
 }

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;

}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }

.find{
  padding-top: 80px;
  padding-bottom: 0px;

}


/*search button css*/
.btn-search {
	  background: #424242;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #1c1c1c;
	}
	.btn-search:link, .btn-search:visited {
	  color: #fff;
	}
	.btn-search:active, .btn-search:hover {
	  background: #1c1c1c;
	  color: #fff;
	}
</style>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="/">Overview <span class="sr-only">(current)</span></a></li>
         <li><a href="/users/add_device">Add Customer</a></li>
          <li><a href="/users/payment">Payment History</a></li>
          <li><a href="/users/currentdevice">Payment</a></li>
        </ul>

        <ul class="nav nav-sidebar">
          <li><a href="/users/aboutus">About Us</a></li>
          <li><a href="/users/contactus">Contact Us</a></li>
        </ul>
      </div>


  <div class="col-sm-18 col-sm-offset-88 col-md-182 col-md-offset-2 main">

{{#if published}}
   {{content}}
 {{/if}}
 <center>
 	<form method="post" action="/users/pay">
  <div class="find">
  <div class="right-inner-addon ">
  <input type="search" id="myInput" onkeyup="myFunction()" placeholder="&#xe003 search"  class="form-control glyphicon glyphicon-search" >
</div><br>
</div>
<table  class="table table-hover" border=5 id="myTable">

<tr>
  <th>customer name</th>
  <th>customer id</th>
  <th>DeviceName</th>
  <th>DeviceID</th>
  <th>Date of purchase</th>
  <th>Total amount</th>
  <th>Balance amount</th>
  <th>Charge per day</th>
  <th> selection</th>
</tr>
{{#each newUser}}
{{#each this}}
<tr>
<td>{{this.customername}}</td>
<td>{{this.customerid}}</td>
<td>{{this.DeviceName}}</td>
<td>{{this.DeviceId}}</td>
<td>{{this.Dop}}</td>
<td>{{this.totalamount}}</td>
<td>{{this.balanceamount}}</td>
<td>{{this.chargepd}}</td>
<td align="center"><input type="radio" name="payment" value="{{this.DeviceId}}"></td>
</tr>
{{/each}}
{{/each}}
</table><br><br>

<div style="text-align:center;">
            <button type="submit" class="btn btn-primary btn-md">SELECT</button>
        </div>

</form>
</div>
</div>
</div>
</center>
</body>
</html>
