<!DOCTYPE html>
<html>
<head>
<title>device</title>

</head>
<body>
  <div class="container">
<div class="container-fluid">
  
  <h1 class="page-header">CUSTOMER DETAILS</h1>
        <div class="table-responsive">

{{#if published}}
   {{content}}
 {{/if}}
 
 	<form method="post" action="/users/pay" data-toggle="validator" role="form">
  <div class="find">
  <div class="right-inner-addon ">
  <input type="search" id="myInput" onkeyup="myFunction()" placeholder="&#xe003 search"  class="form-control glyphicon glyphicon-search" ><br>
</div>
</div>

<table  class="table table-hover" border=5 id="myTable">
<thead>
<tr>
  <th>customer name</th>

  <th>Device Name</th>
  <th>Device ID</th>
  <th>Date of purchase</th>
  <th>Total amount</th>
  <th>Balance amount</th>
  <th>Charge per day</th>
  <th> selection</th>
</tr>
</thead>

<tbody>
{{#each newUser}}
{{#each this}}
<tr>
<td>{{this.customername}}</td>

<td>{{this.DeviceName}}</td>
<td>{{this.DeviceId}}</td>
<td>{{this.Dop}}</td>
<td>{{this.totalamount}}</td>
<td>{{this.balanceamount}}</td>
<td>{{this.chargepd}}</td>
<td align="center"><input type="radio" name="payment" value="{{this.DeviceId}}" data-error="" required></td>
</tr>
{{/each}}
{{/each}}
</tbody>
</table>
<br><br>
<script>
function filterTable(event) {
    var filter = event.target.value.toUpperCase();
    var rows = document.querySelector("#myTable tbody").rows;
    
    for (var i = 0; i < rows.length; i++) {
        var firstCol = rows[i].cells[0].textContent.toUpperCase();
        var secondCol = rows[i].cells[2].textContent.toUpperCase();
        if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1) {
            rows[i].style.display = "";
        } else {
            rows[i].style.display = "none";
        }      
    }
}

document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
</script>
<div style="text-align:center;">
            <input id="submit" name="submit" class="btn btn-primary btn-lg  site-btn pull-center" value="Submit now!" type="submit">

        </div><br><br>

</form>


</div>

</div>
</div>
</body>
</html>
