
<!DOCTYPE html>
<html>
<head>
<title>device</title>
</head>
<body>
<h1>current device list</h1>
{{#if published}}
   {{content}}
 {{/if}}
 <center>
 
<table border=5>
<tr>
  <th>customer name</th>
  <th>customer id</th>
  <th>DeviceName</th>
  <th>DeviceID</th>
  <th>Date of purchase</th>
  <th>Balance</th>
  <th>EMI</th>
</tr>
{{#each newUser}}
{{#each this}}

<br>
<tr>
<td>{{this.customername}}</td>
<td>{{this.customerid}}</td>
<td>{{this.DeviceName}}</td>
<td>{{this.DeviceId}}</td>
<td>{{this.Dop}}</td>
<td></td>
<td></td>
</tr>
{{/each}}
{{/each}}
</table><br><br>

<button><a href="/users/otp">submit</a></button>

</center>
</body>
</html>   
