



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      .hello{
        color:white;
      }



#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
    background-color: rgb(37, 46, 37);
    color: #ddd;
}

 #myTable td{
   text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
 }

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;

}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
    </style>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
   <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

<script src="C:\project2\loginapp2\public\js\bootstrap"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>



    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/">Overview <span class="sr-only">(current)</span></a></li>
           <li><a href="/users/add_device">Add Customer</a></li>
            <li><a href="/users/payment">Payment History</a></li>
            <li><a href="/users/currentdevice">Payment</a></li>
          </ul>
          <ul class="nav nav-sidebar">

           <!-- <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>-->
          </ul>
          <ul class="nav nav-sidebar">

            <li><a href="/users/aboutus">About Us</a></li>
            <li><a href="/users/contactus">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-sm-18 col-sm-offset-82 col-md-180 col-md-offset-2 main">
          <h1 class="page-header">Payment history</h1>


          <h2 class="sub-header">payment </h2>   <!-- device table -->
          <div class="table-responsive">
            {{#if published}}
   {{content}}
 {{/if}}

<table class="table table-hover" border=5 id="myTable" >
  <tr>
    <th>Transactionid</th>
    <th>Date</th>
    <th>Deviceid</th>
    <th>paid amount</th>
  </tr>


  {{#each newUser}}
  {{#each this}}
   <tr>
  <td>{{this.transactionid}}</td>
  <td>{{this.date}}</td>
   <td>{{this.DeviceId}}</td>
   <td>{{this.paidamount}}</td>
   </tr>
{{/each}}
   {{/each}}
</table>

          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
