<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

       <title>Dashboard Template for Bootstrap</title>
      <script src="C:\project2\loginapp2\public\js\bootstrap"></script>
  </head>

<body>
  <script>
  function myFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>

  <div class="container">
    <div class="container-fluid">

       <h1 class="page-header">Payment history</h1>
         <!-- device table -->
          <div class="table-responsive">
            {{#if published}}
   {{content}}
 {{/if}}

 <div class="find">
 <div class="right-inner-addon ">
 <input type="search" id="myInput" onkeyup="myFunction()" placeholder="&#xe003 search"  class="form-control glyphicon glyphicon-search" ><br>
 </div>
 </div>
 
<table class="table table-hover" border=5 id="myTable" >
  <tr>
    <th>Transactionid</th>
    <th>Date</th>
    <th>Deviceid</th>
    <th>paid amount</th>
  </tr>


  {{#each newUser}}

   <tr>
  <td>{{this.otp}}</td>
  <td>{{this.date}}</td>
   <td>{{this.DeviceId}}</td>
   <td>{{this.paidamount}}</td>
   </tr>

   {{/each}}


          </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
