<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

       <title>Dashboard Template for Bootstrap</title>        
      <script src="C:\project2\loginapp2\public\js\bootstrap"></script>
  </head>

<body>


  <div class="container">
    <div class="container-fluid">
      <div class="row">  
       <h1 class="page-header">Payment history</h1>
         <!-- device table -->
          <div class="table-responsive">
            {{#if published}}
   {{content}}
 {{/if}}

<table class="table table-hover" border=5 id="myTable" >
  <tr>
    <th>Transactionid</th>
    <th>Date</th>
    <th>Deviceid</th>
    <th>paid amount</th>
  </tr>


  {{#each newUser}}
  
   <tr>
  <td>{{this.transactionid}}</td>
  <td>{{this.date}}</td>
   <td>{{this.DeviceId}}</td>
   <td>{{this.paidamount}}</td>
   </tr>

   {{/each}}


          </div>
        </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
